In [1]:
import pandas as pd
data = pd.read_csv('credit_new.csv')

In [2]:
data = data.rename(columns = {"BILL_AMT1": "BILL_SEP"})
data = data.rename(columns = {"BILL_AMT2": "BILL_AUG"})
data = data.rename(columns = {"BILL_AMT3": "BILL_JUL"})
data = data.rename(columns = {"BILL_AMT4": "BILL_JUN"})
data = data.rename(columns = {"BILL_AMT5": "BILL_MAY"})
data = data.rename(columns = {"BILL_AMT6": "BILL_APR"})

In [3]:
data.drop(["Unnamed: 0"], axis=1, inplace= True)

In [4]:
data.shape

(30000, 24)

In [5]:
data.head()

,SEX,EDUCATION,MARRIAGE,Trend_SEP,Trend_AUG,Trend_JUL,Trend_JUN,Trend_MAY,Trend_APR,BILL_SEP,...,BILL_APR,BILL_SEP,PAY_AUG,PAY_JUL,PAY_JUN,PAY_MAY,PAY_APR,DEFAULT,CREDIT_Range,AGE_Range
0,2,2,1,2,2,-1,-1,-2,-2,3913,...,0,0,689,0,0,0,0,1,0,1
1,2,2,2,-1,2,0,0,0,2,2682,...,3261,0,1000,1000,1000,0,2000,1,1,1
2,2,2,2,0,0,0,0,0,0,29239,...,15549,1518,1500,1000,1000,1000,5000,0,0,1
3,2,2,1,0,0,0,0,0,0,46990,...,29547,2000,2019,1200,1100,1069,1000,0,0,2
4,1,2,1,-1,0,-1,0,0,0,8617,...,19131,2000,36681,10000,9000,689,679,0,0,3

In [6]:
X = data.drop(columns =["DEFAULT"])
Y = data["DEFAULT"]

In [7]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn import metrics
from sklearn.model_selection import train_test_split
import seaborn as sns

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size= 0.25, random_state=0)

In [12]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train, Y_train)

SVC()

In [13]:
predict = model.predict(X_test)

In [15]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(Y_test, predict))

Accuracy: 0.7821333333333333

In [19]:
 sklearn.metrics import classification_report
print(classification_report(y, clf.predict(X), target_names=iris.target_names))

AttributeError: 'SVC' object has no attribute 'feature_importances_'

In [21]:
model.predict